body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif; 
    
}
*{
    box-sizing: border-box;
}

html{
    scroll-padding: 56px;
}



:root{
    --main-color:#FF206E;
    --second-color: #212529;
}


#Home{

    background-image: linear-gradient(rgba(0, 0, 0, 0.395)
    ) , url(../Images/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

   

    h1{
        font-size: 35px;
    }

    a.cont{
        color: #FF206E;
    }

    .icon{
        left: 20px;
        bottom: 5px;
        
    }

    .icon li{
        color: white;
       margin: 0px 18px;
        border: 0.5px solid rgba(255, 255, 255, 0.427);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s;
        cursor: pointer;

    }

    .icon li:hover{
        border-color: #FF206E;
    }

   

    



}

li{
    text-transform: uppercase;
    position: relative;
    
}

.navbar-toggler {
    color: white !important;
    background-color: white;
}

.nav-item::after{
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    left: 11px;
    background-color: #FF206E;
    transition: all 0.6s;
   
}

.nav-item:hover.nav-item::after{
    width: 55%;
}

a{
    color: white !important;
    transition: all 0.3s;
}

.navbar{
    background-color: #212529;
}



a:hover{
    color: var(--main-color) !important;

}

#About{
    background-image: url(../Images/light_dot.jpg);
    img{
        width: 100%;
    }
    


    .content h2{
        color: var(--second-color);
        font-size: 20px;
        letter-spacing: normal;
    }

    .content .Head{
        color: var(--main-color);
    }

    .footer a{
        color: var(--second-color);


    }
}

.big{
    color: #CCCCCC;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 7px;
    
}
.small{
    font-size: 27px;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 12px;
    font-weight: 700;
}

#Service{
    background-color: black;

    i{
        top: -25px;
        transform: translate(-50%);
        border:  1px solid white;
        transition: all 0.4s;
    }

    .col:hover i{
        color: var(--main-color) !important;
        
    }


    h5::after{
        content: "";
        width: 10%;
        height: 1px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -13px;
        background-color: var(--main-color);
        transition: all 0.4s;
       
    }

    .col:hover h5::after{
       width: 13% ;
    }
}

#pricing{

    h5{
        font-size: 25px;

    }

    
    h5::after{
        content: "";
        width: 100% ;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -3px;
      
    }

    p{
        font-size: 30px;
        font-weight: 700;
    }

    span{
        color: #DC3545;
        font-size: 50px;
        font-weight: 700;
    }

    Button{
        background-color: var(--second-color);
        transition: all 0.4s;
    }

    Button:hover{
        background-color: #212529d5;
    }

    .line{
        padding: 0px 85px;
        right: -50px;
        transform: rotate(45deg);
    }

    


}

#Portfolio{
    background-image: url(../Images/light_dot.jpg);

    .layer{
        text-align: center;
        display: flex;
        flex-direction: column;
       justify-content: center;
        background-color: rgba(255, 255, 255, 0.863);
        left: 12px;
        top: -100%;
        right: 12px;
        height: 95%;
        opacity: 0;
        transition: all 1s;
      

    }

    img{
        transition: all 0.6s;


    }
    .item{
        overflow: hidden;
        border: 1px solid red;
    }


    .item:hover .layer{
        top: 0;
        opacity: 1;

    }

    .item:hover img{
        filter: blur(5px);
    }

    .nav-tabs .nav-link.active{
        color: var(--main-color);
    }

    .nav-tabs .nav-link{
        border-color: transparent;
        background-color: transparent;
        transition: all 0.7s;
    }

    .nav-tabs .nav-link:hover{
        color: var(--main-color);
    }

   

    .close{
        position: absolute;
        left: 0;
        color: white;
        font-size: 35px;
        font-weight: 600;
    }

    
}


#Testimonials{

    img{
        width: 8%;
        position: absolute;
        top: -4px;
        border: 5px solid white;
        box-shadow: 0px 9px 72px 27px rgba(0,0,0,0.1);
       
    }

    .carousel-item{
        border: 1px solid #DEE2E6;
    }

    .carousel-indicators [data-bs-target] {
        background-color:var(--main-color);
        width: 11px;
        height: 11px;
        border-radius: 50%;
    }


    
}